name: Release Addon

on:
  push:
    tags:
      - '**'

env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: WoW Packager
        uses: BigWigsMods/packager@master
        with:
          args: -p 965240 -a rN4VYvKD -w 26704

